{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Поиск по категории{% endblock %}


{% block content %}

    <section class="category__title">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 mb-4">
                    <h1>{{ title.title }}</h1>
                </div>
                <div class="col-12 mb-4">
                    <p>{{ title.description }}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="category__content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-9 col-sm-12">
                    {% for post in page_obj %}
                        <div class="row mb-5 align-items-center">
                            <div class="col-md-5 col-sm-12">
                                <img src="{{ post.image.url }}" alt="post_img" class="responsive">
                            </div>
                            <div class="col-md-7 col-sm-12 d-flex flex-column justify-content-center">
                                <p class="text-uppercase pers_and_date"><a
                                        href="{% url 'category' post.category.slug %}">{{ post.category.title }}</a></p>
                                <a href="{% url 'post_detail' post.slug %}"><h3
                                        class="title_post mb-3">{{ post.title }}</h3></a>
                                <div class="mb-2">
                                    {% for tag in post.tag.all %}
                                        <span><a href="{% url 'tag' tag.slug %}"
                                                 class="mr-1 badge badge-info">#{{ tag }}</a></span>
                                    {% endfor %}
                                </div>
                                <p class="context_post">{{ post.content|safe|truncatechars:200 }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-xl-3 col-sm-12 ps-sm-5">
                    <div class="row category__content__category m-5 m-sm-0">
                        <div class="col-12 mb-4">
                            <h2>Категории</h2>
                        </div>
                        {% for category in categories %}
                            <a href="#" class="col-12 mb-3">
                                <a href="{% url 'category' category.slug %}"
                                   class="btn btn-outline-success category__content__category__btn">
                                    <img class="me-2" src="{{ category.image.url }}" alt="categ"> {{ category.title }}
                                </a>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="row mt-5 md-4 category__content__tags">
                        <div class="col-12 mb-4">
                            <h2>Теги</h2>
                        </div>
                        <div class="col-12 d-flex flex-wrap">
                            {% for tag in common_tags %}
                                <a href="{% url 'tag' tag.slug %}" class="btn btn-outline-success tag_btn m-2"
                                   type="submit">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block pagination %}
    {% include 'blog/block/paginator.html' %}
{% endblock %}