{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Поиск{% endblock %}


{% block content %}
    {#    <div class="container-fluid home-slider">#}
    {#        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">#}
    {#            <div class="carousel-inner">#}
    {#                <div class="carousel-item active" style="background-color: #343a40!important">#}
    {#                    <div class="carousel-caption d-none d-md-block">#}
    {#                        <form action="{% url 'search_results' %}" method="get" class="my-2 my-lg-0">#}
    {#                            <input name="q" type="text" class="form-control" placeholder="Поиск" aria-label="Поиск">#}
    {#                            <button class="btn btn-outline-success mt-3" type="submit">Поиск</button>#}
    {#                        </form>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <section class="category__title">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 mb-4">
                    <form action="{% url 'search_results' %}" method="get" class="my-2 my-lg-0">
                        <input name="q" type="text" class="form-control" placeholder="Поиск" aria-label="Поиск">
                        <button class="btn btn-outline-success mt-3 best_post_btn" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="category__content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <p class="lead mb-4">Найдено записей: {{ count }}</p>
                    {% for post in page_obj %}
                        <div class="row mb-5 align-items-center">
                            <div class="col-md-5 col-sm-12">
                                <img src="{{ post.image.url }}" alt="post_img" class="responsive">
                            </div>
                            <div class="col-md-7 col-sm-12 d-flex flex-column justify-content-center">
                                <p class="text-uppercase pers_and_date"><a
                                        href="{% url 'category' post.category.slug %}">{{ post.category.title }}</a></p>
                                <a href="{% url 'post_detail' post.slug %}"><h3
                                        class="title_post mb-3">{{ post.title }}</h3></a>
                                <div class="mb-2">
                                    {% for tag in post.tag.all %}
                                        <span><a href="{% url 'tag' tag.slug %}"
                                                 class="mr-1 badge badge-info">#{{ tag }}</a></span>
                                    {% endfor %}
                                </div>
                                <p class="context_post">{{ post.content|safe|truncatechars:200 }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block pagination %}
    {% include 'blog/block/paginator.html' %} }
{% endblock %}