{% load static %}
{% load contact_tags %}
<footer>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary nav_mod" data-bs-theme="dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02"
                        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <a class="navbar-brand" href="{% url 'main' %}">Melxiory</a>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main' %}">Дом</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'posts' %}">Блог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Связь</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about_us' %}">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'privacy_policy' %}">Политика конфеденциальности</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row subscribe">
            <div class="col-md-6 col-sm-12">
                <p class="subscribe_title m-0">Подпишитесь на нашу рассылку, чтобы получать последние обновления и новости</p>
            </div>
            <div class="col-md-6 col-sm-12 email_subs">
                {% contact_form %}
            </div>
        </div>
        <div class="row contacts pt-3">
            <div class="col-md-6 col-sm-12">
                <address class="m-0">Московская область, г. Щелково</address>
                <a href="mailto:sib@gmail.com">sib@gmail.com</a>
            </div>
            <div class="col-md-6 col-sm-12 cont_mess">
                <div class="cont_icons">
                    <a href="#" class="bi bi-facebook m-2"></a>
                    <a href="#" class="bi bi-instagram m-2"></a>
                    <a href="#" class="bi bi-twitter m-2"></a>
                    <a href="#" class="bi bi-telegram m-2"></a>
                </div>
            </div>
        </div>
    </div>
</footer>